.redes {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 827px;
    margin: auto;
}
#copy-rede {
    height: 62px;
    width: 62px;
    background-color: #1F1F1F;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spam-rede {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}