<div class="redes">
    <div class="me" id="spam-rede">
        <button (click)="copiarTexto(secao1)" id="copy-rede"> <img src="smile.svg" alt="smile" height="32" width="32"> </button>
        <p id="legenda">Nome</p>
        <div #secao1>Tayna Soares</div>
    </div>
    <div class="e-mail" id="spam-rede">
        <button (click)="copiarTexto(secao2)" id="copy-rede"> <img src="mail.svg" alt="mail" height="32" width="32"> </button>
        <p id="legenda">E-mail</p>
        <div #secao2>taynasoares203&#64;gmail.com</div>
    </div>
    <div class="instagram" id="spam-rede">
        <a id="copy-rede" href="https://www.instagram.com/tay.soarezs/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="instagram.svg" alt="instagram" height="32" width="32">
        </a>
        <p id="legenda">Instagram</p>
        <div #secao3>&#64;tay.soarezs</div>
    </div>
    <div class="telefone" id="spam-rede">
        <button (click)="copiarTexto(secao4)" id="copy-rede"> <img src="phone.svg" alt="phone" height="32" width="32"> </button>
        <p id="legenda">Telefone</p>
        <div #secao4>&#40;11&#41; 99806-8567</div>
    </div>
</div>
