
.projetos {
    width: 1216px;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 100px 0 0 0;
    flex-direction: column;
}
.projetos .box img {
    max-width: 592px;
    max-height: 200px;
}

.box {
    width: 592px;
    height: 371px;
    color: white;
}