@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #97edaa;

  --dark-10: #0b0b0b;
  --dark-20: #101010;
  --dark-30: #1f1f1f;

  --white: #ffffff;
}

body, html {
  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0B0B0B;
}