
<div class="header">
    <div class="title">&lt;Tayna Soares/&gt;</div>
    <div> 
        <button class="button-header" id="inicio"> Inicio </button>
        <button class="button-header" id="sobre-mim"> Sobre mim </button>
        <button class="button-header" id="projetos"> Projetos </button>
        <button class="button-header" id="servicos"> Serviços </button>
        <button class="button-header" id="habilidades"> Habilidades </button>
    </div>
</div>
<div class="content">
    <div class="descricao">
        Olá, eu sou 
        <div class="name">Tayna Soares</div>
        Desenvolvedora Frontend
        <button id="curriculo"> Baixar curriculo </button>
    </div>
</div>
<div class="footer">
    <div class="sobre-mim-titulo">Sobre mim</div>
    <p> Meu nome é Tayná Soares, ou "tay dev" (é como me chama no atual trabalho).
        Atualmente sou estagiaria como Frontend Developer no banco Itau Unibanco.</p>
    </div>
<div class="Projetos">
    <p>Projetos</p>
</div>
<div class="Servicos">
    <p>Serviços</p>
</div>
<div class="Habilidades">
    <p>Habilidades</p>
</div>