.title {
    color: #97EDAA;
    font-weight: 100;
    font-size: 24px;
    justify-content: baseline;
}
.header {
    width: 1216px;
    height: auto;
    top: 94px;
    border: 2px solid #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-left: none;
    border-right: none;
}

.button-header {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: 0;
    color: white;
    margin: 20px;
    cursor: pointer;
}

.content {
    width: 1216px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.name {
    color: #97EDAA;
    margin: 10px 0 30px;
    font-size: 48px;
    font-weight: 100;
}
.descricao {
    font-size: x-large;
    width: 419px;
}
#curriculo {
    background-color: #97EDAA;
    width: 193px;
    height: 37px;
    font-family: 'Archivo';
    font-size: medium;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px 0;
}
.footer {
    width: 1216px;
    height: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto ;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Archivo', sans-serif;
    color: white;
    line-height: 35px;
}
.sobre-mim-titulo {
    width: 1216px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #97EDAA;
    margin: auto;
    font-size: 32px;
    font-weight: 100;
}
.titulo {
    color: #97EDAA;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 32px;
    margin: auto;
    padding: 150px 0 0 0;
}

.titulo {
    margin: 0 0 100px;
}

.projetos {
    width: 1216px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}