
<div class="header">
    <div class="title">&lt;Tayna Soares/&gt;</div>
    <div> 
        <button (click)="scrollTo('inicio')" class="button-header" id="inicio"> Inicio </button>
        <button (click)="scrollTo('sobre-mim')" class="button-header" id="sobre-mim"> Sobre mim </button>
        <button (click)="scrollTo('meus-projetos')" class="button-header" id="projetos"> Projetos </button>
        <button (click)="scrollTo('servicos')" class="button-header" id="servicos"> Serviços </button>
        <button (click)="scrollTo('habilidades')" class="button-header" id="habilidades"> Habilidades </button>
    </div>
</div>
<div class="content">
    <div class="descricao" id="inicio">
        Olá, eu sou 
        <div class="name">Tayna Soares</div>
        Desenvolvedora Frontend
        <button id="curriculo" (click)="baixarCurriculo()"> Baixar curriculo </button>
    </div>
    <img src="image.svg" alt="image">
</div>
<div class="sobre-mim-titulo" id="sobre-mim">Sobre mim</div>
<div class="footer">
    Meu nome é Tayná Santos Soares.
    Atualmente estou como Engenheira de Software Frontend Junior no Itaú Unibanco, antes de ser efetivada, fui estagiaria por 1 ano estudando o framework Angular.
    Iniciei na programação como jovem aprendiz na IBM
    em data science, onde aprendi lógica da programação e a linguagem python.
</div>
<app-dados></app-dados>
<div class="titulo" id="meus-projetos">
    Projetos
</div>
<div class="projetos">
    <app-jordan></app-jordan>
    <app-ghibli></app-ghibli>
</div>